body {
  background-color: rgba(39, 128, 211, 0.548);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('RFAY8618.JPG'); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta real de tu imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el cuerpo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.Loginbox {
  background-color: rgba(245, 245, 245, 0.767);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.Loginbox h2 {
  margin-bottom: 20px;
  color: #333;
}

.input {
  font-family: sans-serif;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: blue;
}

